body {
    text-align: center;
}

#scoreboard {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8rem;
}

#selection-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.selection {
    font-size: 2rem;
}

#prompt {
    font-size: 1.25rem;
}